# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java etc..:

Some of the commonly used libraries used by the Data Scientists include:
1. Tenserflow
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. PyTorch etc..;

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tenser Flow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#this is a common arithmetic example to multiply and then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

_Objective_
* List popular Language for Data Science
* List popular Library for Data Science.
* List of well known Data Science Tools
* How to provide comments in the cell

## Author
Rahul kumar Agrawal